body {
  background-image: url("../img/background.jpg");
  & header {
    margin:0 auto;
    width:97.5%;
    & nav {
      background-color: #000000B0;
      height: 1rem;
      width: 100%;
    }
    & h1 {
      background-color: #eaeaeaC0;
      text-align: center;
      font-size:2.5rem;
      padding-top: 0.8rem;
      padding-bottom: 0.8rem;
    }
  }
  & main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height:40rem;
    margin-top: 1.2rem;
    & nav {
      background-color: #FFFFFFD0;
      width:20%;
      max-height:100%;
      overflow:auto;
      & h2 {
        text-align: center;
        text-decoration: underline;
        font-size: 1.5rem;
        font-weight: bold;
        padding-top:1rem;
        padding-bottom:1rem;
      }
      & ul {
        padding-left: 1rem;
        list-style-type:none;
        & li{
          padding-bottom: 0.5rem;
          font-size: 1.2rem;
          & mark {
            cursor: pointer;
          }
        }
      }
    }
    & article {
      background-color: #eeeeeeF0;
      width:75%;
      max-height:100%;
      overflow:auto;
      & h2 {
        text-align: center;
        text-decoration: underline;
        font-size: 2rem;
        font-weight: bold;
        padding-top:1rem;
        padding-bottom:1.8rem;
      }
      & p {
        font-size: 1.2rem;
        padding-left:2rem;
        padding-right: 2rem;
        padding-bottom: 1rem;
        line-height: 1.8rem;
        & #demoAlerte {
          text-decoration: underline;
          color:blue;
          cursor: pointer;
        }
        & #demoAlerte2 {
          text-decoration: underline;
          color:blue;
          cursor: pointer;
        }
      }
      & h3 {
        text-align: center;
        text-decoration: underline;
        font-size: 1.5rem;
        font-weight: bold;
        padding-top:1rem;
        padding-bottom:2rem;
      }
      & code {
        background-color: #bbbbbb;
        display: block;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
      }
      & .warning {
        color:red;
      }
      & .bold {
        font-weight: bold;
      }
      & .inArticle{
        display: none;
        & .exempleAnimate {
          padding-left: 2rem;
        }
        &#homepage {
          display:block;
        }
        &#reset {
          & code {
            padding-top: 0rem;
            font-size: 1rem;
            height:24.5rem;
          }
        }
      }
    }
  }
}

